.user_bar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: #f6b83d;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.user_bar:hover {
  background: #fbe7c1;
}

.user_avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex-shrink: 0;
}

.avatar_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar_icon {
  fill: #f6b83d;
  width: 18px;
  height: 18px;
}

.user_name {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .user_bar {
    padding: 10px 20px;
  }

  .user_avatar {
    width: 32px;
    height: 32px;
  }

  .avatar_icon {
    width: 20px;
    height: 20px;
  }

  .user_name {
    font-size: 16px;
  }
}
