.user_bar {
  display: flex;
  align-items: center;
  gap: 16px;
  background: transparent;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #262626;
}

.user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF4DF;
  flex-shrink: 0;
}

.avatar_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar_icon {
  fill: #F6B83D;
  width: 24px;
  height: 24px;
}

.user_name {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 129%;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 768px) {
  .user_bar {
    gap: 16px;
  }

  .user_avatar {
    width: 40px;
    height: 40px;
  }

  .avatar_icon {
    width: 24px;
    height: 24px;
  }

  .user_name {
    font-size: 20px;
  }
}
