.logout_btn,
.logout_btn_home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #F6B83D;
  cursor: pointer;
  border: 1px solid #F6B83D;
  width: fit-content;
}

.logout_btn:hover,
.logout_btn_home:hover {
  background: #F6B83D;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .logout_btn,
  .logout_btn_home {
    padding: 15px 35px;
    font-size: 16px;
  }
}
