.logout_btn,
.logout_btn_home {
  display: none;
  background: #f6b83d;
  border-radius: 30px;
  padding: 15px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: none;
}

.logout_btn:hover,
.logout_btn_home:hover {
  background: #fff4df;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .logout_btn,
  .logout_btn_home {
    display: flex;
  }
}
