.user_nav {
  display: none;
}

@media (min-width: 768px) {
  .user_nav {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

@media (min-width: 1280px) {
  
}