.header_home {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

}

.header {
  background-color: #f9f9f9;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
}

.header_wrapper_home {
  padding: 17px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.header_wrapper {
  padding-top: 17px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav {
  display: none;
}

.nav_list {
  display: flex;
  gap: 10px;
}

.nav_item_home {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 15px 20px;
}

.nav_item_home:hover {
  background-color: #F9B020;
}

.nav_link_home {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
}

.nav_item {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 20px;
}

.nav_item:hover {
  border: 1px solid #f6b83d;
}

.nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
}

.header_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header_menu_btn,
.header_menu_btn_home {
  cursor: pointer;
  border: none;
  margin-left: 12px;
  padding: 0;
  background: transparent;
}

.header_icon_btn_home {
  stroke: #fff;
}

.header_icon_btn {
  stroke: #262626;
}

@media screen and (min-width: 768px) {
  .header_wrapper_home {
    padding: 16px 32px 0 32px;
  }

  .header_wrapper {
    /* padding-top: 32px;
    padding-bottom: 32px; */
  }

  .header_menu_btn,
  .header_menu_btn_home {
    margin-left: 16px;
  }

  .header_icon_btn_home {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .header_wrapper_home {
    padding: 17px 64px 0 64px;
  }

  .header_nav {
    display: flex;
  }

  .header_menu_btn_home {
    display: none;
  }
}
