.petsItem {
 display: flex;
 align-items: flex-start;
 background: #fff;
 border-radius: 20px;
 border: 1px solid #2626261A;
 padding: 16px;
 gap: 14px;
 position: relative;
}

.petTableCol {
 display: flex;
 flex-direction: column;
 gap: 4px;
}

.petTableCol:last-child {
 flex-basis: 100%;
}

@media (min-width: 768px) {
 .petTableCol:last-child {
  flex-basis: auto;
 }

 .petsItem {
  padding: 22px;
  gap: 25px;
 }
}

@media (min-width: 1280px) {
 .petsItem {
  padding: 20px;
 }
}

.petImage {
 width: 66px;
 height: 66px;
 border-radius: 50%;
 object-fit: cover;
 flex-shrink: 0;
}

@media (min-width: 768px) {
 .petImage {
  width: 75px;
  height: 75px;
 }
}

.petInfo {
 flex: 1;
 min-width: 0;
}

.petTitle {
 font-size: 14px;
 font-weight: 700;
 color: #2B2B2A;
 margin-bottom: 8px;
 padding-right: 30px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

@media (min-width: 768px) {
 .petTitle {
  font-size: 18px;
 }
}

.petTable {
 display: flex;
 flex-wrap: wrap;
 gap: 8px 12px;
 font-size: 10px;
 color: rgba(38, 38, 38, 0.5);
}

@media (min-width: 768px) {
 .petTable {
  gap: 12px 16px;
  font-size: 12px;
 }

 .petTableCol {
  display: flex;
  flex-direction: row;
  gap: 4px;
 }
}



.petTableCol span:first-child {
 color: rgba(38, 38, 38, 0.5);
}

.petTableCol span:last-child {
 color: #262626;
 font-weight: 500;
}

.deleteBtn {
 background: #FFF4DF;
 border: none;
 border-radius: 50%;
 width: 30px;
 height: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: 12px;
 right: 12px;
 cursor: pointer;
 transition: background 0.2s;
}

@media (min-width: 768px) {
 .deleteBtn {
  width: 38px;
  height: 38px;
  top: 20px;
  right: 20px;
 }
}

.deleteBtn:hover {
 background: #FBE7C1;
}

.deleteBtn svg {
 width: 16px;
 height: 16px;
 stroke: #F6B83D;
 fill: none;
}

@media (min-width: 768px) {
 .deleteBtn svg {
  width: 18px;
  height: 18px;
 }
}