.profile {
  padding: 96px 0 80px 0;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .profile {
    padding: 120px 0 118px 0;
  }

  .container {
    max-width: 704px;
    padding: 0 32px;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .profile {}

  .container {
    max-width: 1216px;
    padding: 0 32px;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
}

.myNotices {
  flex: 1 1 0%;
  background: transparent;
  min-width: 0;
  width: 100%;
}