.userBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.avatarBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ffd700;
}

.infoBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 14px;
	width: 380px;
}

.header {
	font-size: 18px;
	font-weight: 700;
	color: #2B2B2A;
	text-align: left;
}

.name {
	font-size: 20px;
	font-weight: 500;
	color: #2B2B2A;
	border: 1px solid #F6B83D;
	border-radius: 30px;
	width: 100%;
	max-height: 52px;
	padding: 16px;
}

.email {
	font-size: 16px;
	font-weight: 500;
	color: #2B2B2A;
	opacity: 0.8;
	border: 1px solid #F6B83D;
	border-radius: 30px;
	width: 100%;
	max-height: 52px;
	padding: 16px;
}

.phone {
	font-size: 16px;
	font-weight: 500;
	color: #2B2B2A;
	opacity: 0.8;
	border: 1px solid #F6B83D;
	border-radius: 30px;
	width: 100%;
	max-height: 52px;
	padding: 16px;
}