.petsList {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin-top: 20px;
}

@media (min-width: 768px) {
	.petsList {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin-top: 24px;
	}
}

@media (min-width: 1280px) {
	.petsList {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}
}
