.pageTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 40px;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .pageTitle {
    font-size: 54px;
    line-height: 1;
    margin-bottom: 60px;
  }
}
