.auth_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.auth_login,
.auth_registration,
.auth_login_home,
.auth_registration_home {
  display: none;
}

.auth_registration,
.auth_registration_home {
  background: #fff4df;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
}

.auth_registration:hover,
.auth_registration_home:hover {
  background: #fbe7c1;
}

.auth_login,
.auth_login_home {
  background: #f6b83d;
  border-radius: 30px;
  padding: 15px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.auth_login:hover,
.auth_login_home:hover {
  background: #fff4df;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .auth_login,
  .auth_registration,
  .auth_login_home,
  .auth_registration_home {
    display: flex;
  }
}
