.auth_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.auth_login,
.auth_registration,
.auth_login_home,
.auth_registration_home {
  display: none;
}

/* Regular pages (non-home) */
.auth_registration {
  background: #FFF4DF;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
}

.auth_registration:hover {
  background:#FBE7C1;
}

/* Home page (yellow background) */
.auth_registration_home {
  background: #FFF4DF;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  border: none;
}

.auth_registration_home:hover {
  background: #FBE7C1;
}

/* Regular pages */
.auth_login {
  background: #F6B83D;
  border: 1px solid #F6B83D;
  border-radius: 30px;
  padding: 15px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.auth_login:hover {
  background: #F9B020;
  color: #fff;
}

/* Home page (yellow background) */
.auth_login_home {
  background: transparent;
  border-radius: 30px;
  padding: 15px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.auth_login_home:hover {
  background: #FFF4DF;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .auth_login,
  .auth_registration,
  .auth_login_home,
  .auth_registration_home {
    display: flex;
  }
}
