.newsItem {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.newsItem:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
  width: 100%;
  height: 190px;
  overflow: hidden;
}

.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.newsContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 28px;
  padding-bottom: 28px;
}

.newsTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: #262626;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsText {
  font-size: 14px;
  line-height: 1.29;
  color: #262626;
  margin-bottom: 16px;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsDate {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(38, 38, 38, 0.5);
}

.newsLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #f6b83d;
  text-decoration: underline;
  transition: color 0.3s ease;

}

.newsLink:hover {
  color: #f9b020;
}

@media screen and (min-width: 768px) {
  .imageWrapper {
    height: 226px;
  }

  .newsContent {
    padding-top: 28px;
    padding-top: 28px;
  }

  .newsTitle {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 14px;
  }

  .newsText {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
  }

  .newsDate,
  .newsLink {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .imageWrapper {
    height: 252px;
  }
}
