.logoutLeft {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logoutLeft button {
  background-color: #FFF4DF;
  color: #F6B83D;
  width: 136px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutLeft button:hover {
  background-color: #F6B83D;
  color: #fff;
}

.userBarAbsolute {
  position: absolute;
  top: 18px;
  left: 18px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 9px;
  background-color: #F6B83D;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.avatar_icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.user_name {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.userCard {
  position: relative;
  background: #fff;
  border-radius: 30px;
  padding: 18px 20px 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 335px;
  max-width: 335px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .userBarAbsolute {
    top: 40px;
    left: 40px;
  }

  .userCard {
    padding: 40px 32px 40px 32px;
    width: 704px;
    max-width: 704px;
    margin-top: 16px;
    border-radius: 60px;
  }
}

@media (min-width: 1280px) {
  .userBarAbsolute {
    top: 40px;
    left: 40px;
  }

  .userCard {
    width: 520px;
    max-width: 520px;
    gap: 20px;
  }
}
