.logoutLeft {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
 .userBarAbsolute {
   position: absolute;
   top: 40px;
   left: 40px;
   z-index: 2;
   height: 38px;
   width: 80px;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 9px;
  background-color: #F6B83D;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);


.avatar_icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.user_name {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
 } 


.userCard {
  position: relative;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.07);
  padding: 40px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  min-width: 320px;
  max-width: 520px;
  height: 910px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .userCard {
    padding: 40px 32px 40px 32px;
    min-width: 360px;
    max-width: 480px;
    margin-top: 16px;
  }
}
